.contact-container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
}


.contact-info {
    flex: 1;
    min-width: 280px;
}

.contact-info h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.contact-info p {
    color: #555;
}

.info-box {
    margin-top: 20px;
}


.contact-form {
    flex: 1;
    min-width: 280px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.contact-form button {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form button:hover {
    background-color: #e60023;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}